body{
	margin: 0;
}
#outline {
	margin:60px auto;
	padding: 0;
	font-size:0;
	border:1px solid;
	width:800px;
	height:800px;
	overflow:hidden;

	
}
.box {
	display: inline-block;
	position:relative;
	padding:0px;
	margin: 0px;
	left:0px;
	top:0px;
	border: none;
	vertical-align: top;
}
#reset {
	margin: auto;
	display:block;
	position:relative;
	z-index:1;
	top: 50px;
	background-color: #37bf52;
	color: white;
	border:none;
	height:20px;
	width: 80px;
	
}